.name {
    margin-top: 300px;
    font-family: 'Quicksand', sans-serif;
    font-size: 300%;
    color: #000000;
    text-align: center;
}
.FE {
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    color: #000000;
    font-weight: bolder;
    text-align: center;
}