.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#title {
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 2; /* Ensure title is above the image */
}

.gallery-item:hover img {
  opacity: 1;
}

.gallery-item:hover #title {
  opacity: 1;
}
